/* a stylesheet for the calendar and stuff */
* {
	margin: 0;
	padding: 0;
	font: 100%;
	font-family: Georgia, serif;
}

html {
	height: 100%;
}

body {
	text-align: center;
	height: 100%;
}

#page {
	display: inline-block;
	text-align: left;
	width: 100%;
	max-width: 1000px;
	min-height: 100%;
	position: relative;
}

a {
	color: #2b3294;
}

/* --------------------------------------------------------- */
/* layout */
/* --------------------------------------------------------- */
header, footer {
	margin-bottom: 5px;
	background-color: #1c1f2b;
	color: white;
	padding: 5px 0;
}
footer {
	margin-bottom: 0;
	position: absolute;
	bottom: 0; left: 0; right: 0;
}
#dummy {
	height: 50px;
}

#page > h1, #page h2 {
	font-size: 24px;
	margin-bottom: 5px;
}

h2 {
	margin-top: 20px;
	cursor: pointer;
}

article div {
	display: none;
}

/* --------------------------------------------------------- */
/* Table */
/* --------------------------------------------------------- */

table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

table tr > th:first-child {
	width: 100px;
}

table tr:hover {
	background-color: #c8cad1;
}

table tr:first-child th {
	background-color: #2b3254;
	color: white;
}

table th, table td {
	border: 1px solid #4e4b75;
	padding: 5px;
}

table td {
	position: relative;
	cursor: pointer;
}

table td h1 {
	font-size: 20px;
}

.deleter {
	position: absolute;
	top: 5px;
	right: 5px;
}